@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    font-family: 'Jua', sans-serif;
    text-align: center;

    background-color: #e0e0e0;
}

.container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    box-sizing: border-box;

    text-align: center;
}