h1 {
    margin-bottom: 50px;

    font-size: 1.8rem;
    color: #FF8C00;
    line-height: 1.2;

    text-shadow:
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white;
}

#submit-button {
    display: inline-block;
    padding: 8px 30px;
    margin-top: 35px;

    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: black;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: none;

    cursor: pointer;
    transition: background-color 0.2s;
}

#submit-button:hover {
    background-color: #f0f0f0;
}