body::after {
    content: "에겐테토테스트";

    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 999;

    font-size: 1.4rem;
    font-weight: normal;
    color: #FF8C00;

    text-shadow:
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white;
}

.container {
    position: relative;

    width: 400px;
    padding: 60px 40px;

    text-align: center;

    background-color: white;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.container::before {
    content: "";

    position: absolute;
    bottom: 95%;
    right: -50px;
    left: auto;
    z-index: 1;

    width: 200px;
    height: 200px;

    background-image: url('/images/test-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.3));
}

.container > span:first-child {
    display: none;
}

form > span:first-of-type {
    display: block;
    margin-bottom: 40px;

    font-size: 26px;
    font-weight: normal;

    word-break: keep-all;
}

div label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;

    font-size: 22px;
    font-weight: normal;
    text-align: left;
    cursor: pointer;
}

div label input[type="radio"] {
    display: none;
}

div label span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

div label span::after {
    content: "";

    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    box-sizing: border-box;
    flex-shrink: 0;

    background-color: white;
    border: 2px solid black;

    transition: all 0.2s;
}

div label input[type="radio"]:checked + span::after {
    background-color: black;
    box-shadow: inset 0 0 0 2px white;
}

button[type="submit"] {
    padding: 8px 30px;
    margin-top: 50px;

    font-size: 16px;
    font-weight: normal;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #f0f0f0;
}