<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테스터 정보 입력</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/new.css">
</head>
<body>
<div class="container">
  <form action="/new" method="post" th:object="${tester}">

    <label for="name">이름:</label>
      <input type="text" name="name" id="name" placeholder="이름을 입력하세요">


    <p>성별을 입력하세요</p>
      <div>
          <label class="gender male">
            <input type = "radio" name="gender" value="MALE">
            남자
          </label>

          <label class = "gender female">
            <input type = "radio" name="gender" value="FEMALE">
            여자
          </label>
      </div>
    <button type="submit" id="submit-button">제출하기</button>
  </form>
</div>
</body>
</html>