<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/new" method="post" th:object="${tester}">

    <label for="name">이름:</label>
      <input type="text" name="name" id="name" placeholder="이름을 입력하세요">


    <p>성별을 입력하세요</p>
    <label>
      <input type = "radio" name="gender" value="MALE"> 남자
    </label>
    <label>
      <input type = "radio" name="gender" value="FEMALE"> 여자
    </label>
    <button type="submit">제출하기</button>

  </form>
</div>
</body>
</html>