<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="container">
      <form action="/new/test" method="post">

        <label for="name">이름을 입력하세요.</label>
          <input type="text" id="name" name="name">

        <div>
          <p>성별을 선택하세요</p>
        <label for="male">남자</label>
          <input type="radio" id="male" name="gender" value="male">
        <label for="female">여자</label>
          <input type="radio" id="female" name="gender" value="female">
        </div>

        <button type="submit">등록</button>

      </form>
  </div>
</body>
</html>