<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/new/consequence" method="post" th:object="${questions}">
        <div th:each="q : ${questions}">
            <p th:text="${q.text}"></p>

            <div th:each = "answerScore : ${q.answerScores}">
                <label>
                    <input type="radio" th:name="${q.id}" th:value="${answerScore.key}">
                    <span th:text="${answerScore.key.description}"></span>
                </label>
            </div>

        </div>

        <button type="submit">제출하기</button>
    </form>
</div>
</body>