<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설문지 테스트</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/test.css">
</head>
<body>
<div class="container">
    <span th:text="${pageNumber}"></span>
    <form th.action="@{/new/test/__${pageNumber}__}" method="post">
        <span th:text="${question.questionText}"></span>

        <input type="hidden" name="questionId" th:value="${question.id}">

        <div th:each="answer : ${question.answerList}">
            <label>
                <input type="radio" name="answerId" th:value="${answer.id}">
                <span th:text="${answer.answerText}"></span>
            </label>
        </div>

        <button type="submit">다음으로</button>
    </form>
</div>
</body>